*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lpr
*.maf
*.mtc
*.mtc1
*.out
template.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
*.pgf
*.toc
*.nav
*.snm
*.bak
*.auxlock
*.spl
*.md5
*.run.xml
*-blx.bib

